

 <div>

  <input type="text" [(ngModel)]="searchTerm" class="control-form" placeholder="Filtre"  />
  <div class="row">
    &nbsp;
  </div>

</div>

  <div *ngFor="let pr of produits | produitFilter:searchTerm">
    <div class="card">
      <div class="row">

        <div class="col-sm-8 col-sm-offset-6"></div>
        <div class=".col-md-6 .col-md-offset-3">
          <button class="btn btn-info" id={{pr.productId}} (click)="deleteProduct(pr.productId)">{{pr.productId}} supprimer</button></div>
      </div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <a  href="#">     {{pr.modelNumber}}   </a> | {{pr.modelName}}
        </h6>
        <span>
          <img class="lib-img" [src]="pr.productImage!= '' ? '/resource/'+ pr.productImage : defaultImg " height="200" width="200">

        </span>

        <p class="card-text">{{pr.description}}</p>
         <p> Prix : {{pr.unitCost}} €</p>
     <label class="laber-control" > Acheter </label>
     <input type='checkbox' class="checkbox-inline" (change)="addToPanier($event.target.checked, pr.productId)" />
      </div>
    </div>


