<h1>
  observer component demo chek console

<div class="form-group">
  <div class="col-md-4">
    <button (click)="SeeObservable()" class="btn btn-success">observe</button> <br>
  </div>
  <div class="col-md-4">
    <button (click)="SecondsCounter()" class="btn btn-success">seconds Counter</button>
  </div>
  <div class="col-md-4">
    <div class="col-md-4">
      <button (click)="AppleExemple()" class="btn btn-success">Apple exemple</button>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-4">
      <button (click)="FuncExmple()" class="btn btn-success">Function exemple</button>
    </div>
  </div>

  <div class="col-md-4">
    <div class="col-md-4">
      <button (click)="OFFromExmple()" class="btn btn-success">Of  From exemple</button>
    </div>
  </div>


  <div class="col-md-4">

      <button (click)="MapObs()" class="btn btn-success"> Map</button>

  </div>

  <div class="col-md-4">

      <button (click)="IntervalData()" class="btn btn-success"> interval</button>

  </div>
  <div class="col-md-4">

      <button (click)="FromEvent()" class="btn btn-success"> from event</button>
    </div>


</div>


</h1>
<h2>

  merge :
  <div class="form-group">
    <div class="col-md-4">
      <button id="like"> Like </button>
      </div>
      <div class="col-md-4">
        <button id="dislike">DisLike</button>
      </div>
      <div class="col-md-4">
        <div id="result">

        </div>
      </div>
      </div>

</h2>
