<div class="container">
  <h2>Ajouter Produit </h2>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">

        <form #form="ngForm" (submit)="PostProduit(form)"  >

         <list-category (NotifyProduct)="OnChange($event)"></list-category>

          <div class="form-group">
            <label for="ModelNumber">Model Number</label>
            <input type="email" class="form-control" id="ModelNumber" required name="modelNumber" #modelNumer="ngModel" ngModel >
            <div style="color: red;"  *ngIf="modelNumer.invalid && modelNumer.touched"> model number manquant</div>
          </div>

          <div class="form-group">
            <label for="ImageModel">Image</label>
            <input type="file" (change)="onFileChanged($event)" name="ImageModel" #modelNumer="ngModel" ngModel  multiple />

          </div>

          <div class="form-group">
            <label for="ModelName">Model Name</label>
            <input type="text" class="form-control" required id="ModelName" name="modelName" #modelName="ngModel" ngModel >
            <div style="color: red;"  *ngIf="modelName.invalid && modelName.touched"> model Name  manquant</div>
          </div>

          <div class="form-group">
            <label for="unitcost">unit Cost </label>
            <input type="number" class="form-control" id="unitcost"  name="uniCost" #unitCost="ngModel" required ngModel step="0.01" >
            <div style="color: red;"  *ngIf="unitCost.invalid && unitCost.touched"> cout  manquant</div>
          </div>


          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="3" name="description" #description="ngModel" ngModel> </textarea>
          </div>


            <button type="submit"  class="btn btn-success" [disabled]="form.invalid">envoyer</button>

        </form>
      </div>
    </div>

  </div>
</div>
Form : {{form.value | json }} <br>
