
<main role="main" class="container">
    <h1 class="mt-5"><h2> </h2></h1>
    <p class="lead">&nbsp;</p>

  </main>
<div>
    Filter par : <input type="text" [(ngModel)]="searchTerm" />
</div>
<div>
    <table class="table">
        <thead>
          <tr>
            <th> Numéro de model</th>
            <th> Nom </th>
            <th>Image </th>
            <th>Prix </th>
            <th> Description</th>
          </tr>
      
      
        </thead>
        <tbody>
          <tr *ngFor="let pr of produits | productFilter:searchTerm ">
            <td>    <a [routerLink]="['/produits',pr.productId]">     {{pr.modelNumber}}  </a>  </td>
            <td>  {{pr.modelName}}</td>
            <td>  {{pr.productImage}}</td>
            <td>  {{pr.unitCost}}</td>
            <td>  {{pr.description}}</td>
          </tr>
        </tbody>
      </table>
      
</div>
